 
h1 {
  font-size: 24px;
  color: blue;
  text-align: center;
  align-items: center;
}
 
@media screen and (min-width: 600px) {
  h1 {
    font-size: 36px;
    color: green;
  }
}
 
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
    color: red;
  }
}
body{
    align-items: center;
    display: block;
    font-family: 'Franklin Gothic Medium';
}