/* {
    margin: 0;
}

body{
    animation: fadeIn 0.8s ease-in-out;
}
.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(225, 194, 137);
    color: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(236, 64, 122, 0.3);
    position: sticky;
    top:0%;
}
header li {
    display: inline-block;
    font-size: 20px;
    padding:5px;
}
header a{
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 500px;
    padding: 30px;
}

.btn-signup{
    background-color: orange;
    margin-top: 10px;
    padding:7px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}

.summary {
    font-size: 20px;
    margin-top: 10px;
}

.image {
    border-radius: 50px;
}

.title {
    font-size: 30px;
}
#projects{
    justify-content: center;
    padding: auto;
    border-radius: 15px;
    transition: transform 0.2s ease;
    background-color: #BED8E3;

}
.project-container{
    display: flex;
    justify-content:space-around;
    margin: 18x;
    flex-wrap: wrap;
    border-color: black;
}
.projects-heading{
    text-align: center;
}
.project-card{
    background-color: aliceblue;
    border-radius: 50px;
    border: 0.1px solid black;
    margin: 68px;
    border-color: black;
    flex-wrap: wrap;
    padding: 50px;
    transition: transform 0.2s ease;
}
h2{
    text-align: center;
}
a{
    align-items: center;
    text-align: center;
}
footer{
    background-color: cadetblue;
    text-align: center;
    padding: 26px;
    color: azure;
    font-size: large;
    border-radius: 10px;
}
.project-card:hover{
    transition: transform 1s;
    border: 1px solid black;
}
#services{
    background-color: aquamarine;
    padding: 15px;
    border-radius: 8px;
}
.services-container{
    display: flex;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 20px;
    text-align: center;

}
.contact-form{
    text-align: center;
    font-size: larger;
}
.about-container{
    font-size: larger;
} */